.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 15px;
    text-align: center;
    background-color: #333;
    border: 0;
    border-radius: 5px;
    outline: 1px solid rgba(243, 243, 243, 0.44);
    cursor: pointer;
    appearance: none; /* Consolidated vendor prefixes */
    height: 40px;
}