# Node modules
node_modules/

# TypeScript output directory
dist/

# Environment files
.env
sonatrio-firebase-adminsdk-5ytkw-c8d13500ab.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor specific files
.vscode/
.idea/

# Optional: If you are using debugging tools
*.pid
*.seed

# TypeScript specific
*.tsbuildinfo

# npm package lock file (if you don't want to track it)
package-lock.json
yarn.lock

# Build directory for production (if you have one)
build/

# Temporary files from IDEs (e.g., VSCode, JetBrains)
.vscode/
.idea/

# Mac OS specific
.DS_Store
