.container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    align-items: center;
    height: 140px;
    background-color: #1c1c1c; /* Dark background */
}

.input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    gap: 20px;
    align-items: center;

    .file-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        color: #f3f3f3;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 40px;
    }
}

.format-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loader {
    width: 14px;
    height: 14px;
    border: 2px solid #ac93ff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}