.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10vw;

    @media only screen and (max-width: 950px) {
        padding: 20px;
    }
}
